<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.ikostrov.questionnaire"/>

    <bean id="questionnaireDao" class="ru.ikostrov.questionnaire.QuestionnaireDAO" factory-method="init">
        <constructor-arg>
            <bean class="org.h2.jdbcx.JdbcConnectionPool" factory-method="create">
                <constructor-arg value="jdbc:h2:~/questionnairedb"/>
                <constructor-arg value="mylogin"/>
                <constructor-arg value="mypassword"/>
            </bean>
        </constructor-arg>
    </bean>
    <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/html/"/>
    </bean>
    <bean id="freeMarkerConfiguration" class="freemarker.template.Configuration" factory-bean="freeMarkerConfig"
          factory-method="getConfiguration"/>
</beans>